
.outer{
  container: inline-block;
  width: 600px;
  height: 280px;
  border: 2px solid blue;
  padding: 5px;
  background-color: #F0F0F0;
}
h2{
  font-size: 16pt;
  font-family: Arial;
  color: blue;
  font-style: italic;
}
.outer > .yellow{
  background-color: yellow;
  float: left;
  width: 200px;
  padding: 10px 10px 10px 10px;
  margin-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.none{

}
.outer > .orange{
  background-color: orange;
  position: absolute;
  left:110px;
  top:200px;
  width: 200px;
  padding: 10px;
}
.outer > .redorange{
  background-color:rgb(255, 80, 0);
  color: white;
  float: right;
  width: 200px;
  padding: 10px;
  margin-right: 40px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}
